#
# 版权所有 (C) 2016+ AzerothCore <www.azerothcore.org>, 根据GNU AGPL v3许可证发布: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Attriboost 配置
########################################
#
#    Attriboost.Enable
#        描述：启用/禁用图书管理员/额外属性。
#        默认值：     0 - 禁用
#                     1 - 启用
#

Attriboost.Enable = 1

#
#    Attriboost.ResetCost
#        描述：以铜币计算的重置属性的成本。
#        默认值：     2500000 (250金)
#

Attriboost.ResetCost = 2500000

#
#    Attriboost.DisablePvP
#        描述：在PvP战斗中启用/禁用属性。
#                     0 - 禁用
#        默认值：     1 - 启用
#

Attriboost.DisablePvP = 1

#
#    Attriboost.Max.*
#        描述：每个属性可以分配的最大值。
#        默认值：     100
#

Attriboost.Max.Stamina = 100
Attriboost.Max.Strength = 100
Attriboost.Max.Agility = 100
Attriboost.Max.Intellect = 100
Attriboost.Max.Spirit = 100
Attriboost.Max.SpellPower = 100
